.p-Home.NavContainer {
display: flex;
align-items: center;
justify-content: space-around;
max-width: 100%;
}
.p-Home.NavLeft {
display: flex;
height: ;
min-height: 100px;
border-width: 6px;
justify-content: space-between;
row-gap: ;
align-self: center;
box-sizing: border-box;
padding-left: 10px;
padding-right: 10px;
align-items: center;
align-content: space-around;
column-gap: 30px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969ff;
}
.p-Home.Flex7 {
display: flex;
justify-content: space-between;
height: 100px;
padding-left: 10px;
padding-right: 10px;
align-items: center;
column-gap: 30px;
}
.p-Home.NavRight {
display: flex;
border-width: ;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
height: ;
align-items: center;
justify-content: space-around;
column-gap: 30px;
}
.p-Home.ShowCaseDiv {
display: flex;
height: 66vh;
}
.p-Home.Flex16 {
display: flex;
width: 70%;
}
.p-Home.Flex9 {
display: flex;
justify-content: flex-start;
}
.p-Home.Flex10 {
display: flex;
align-items: center;
flex-direction: column;
width: 70%;
justify-content: space-around;
padding-left: 25px;
row-gap: 20px;
}
.p-Home.Flex11 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
width: 100%;
height: 100px;
}
.p-Home.Flex12 {
display: flex;
width: 100%;
height: 200px;
flex-direction: column;
row-gap: 20px;
align-items: center;
}
.p-Home.Flex137 {
display: flex;
padding-left: 25px;
padding-right: 25px;
column-gap: 25px;
}
.p-Home.Flex261 {
display: flex;
flex-direction: row;
align-items: center;
width: 40%;
height: 100%;
background-color: #FF7629ff;
}
.p-Home.Flex17 {
display: flex;
height: 81px;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding-top: 10px;
padding-bottom: 50px;
max-width: 100%;
}
.p-Home.Div3 {
;
}
.p-Home.Flex18 {
display: flex;
width: 75%;
text-align: center;
justify-content: space-around;
padding-left: ;
padding-right: ;
}
.p-Home.Flex19 {
display: flex;
flex-direction: column;
width: ;
height: ;
padding-top: 50px;
padding-bottom: 50px;
align-items: center;
justify-content: space-around;
row-gap: 25px;
background-color: #ffffffff;
border-radius: 0px;
max-width: ;
margin-bottom: 50px;
padding-left: 2px;
}
.p-Home.Div5 {
;
}
.p-Home.Flex22 {
display: flex;
}
.p-Home.Flex21 {
display: flex;
padding-top: 20px;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 20px;
justify-content: center;
column-gap: 10px;
align-items: center;
text-align: center;
max-width: 90%;
}
.p-Home.Flex27 {
display: flex;
padding-top: 40px;
padding-right: 15px;
padding-bottom: 40px;
padding-left: 15px;
flex-direction: column;
row-gap: 10px;
color: #676767ff;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
border-width: 3px;
border-style: solid;
border-color: #cececeff;
border-radius: 20px;
max-width: ;
max-height: auto;
min-height: auto;
align-items: center;
}
.p-Home.Flex31 {
display: flex;
padding-top: 40px;
padding-right: 15px;
padding-bottom: 40px;
padding-left: 15px;
flex-direction: column;
row-gap: 10px;
color: #676767ff;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
border-width: 3px;
border-style: solid;
border-color: #cececeff;
border-radius: 20px;
max-width: ;
max-height: auto;
min-height: auto;
align-items: center;
}
.p-Home.Flex32 {
display: flex;
padding-top: 40px;
padding-right: 15px;
padding-bottom: 40px;
padding-left: 15px;
flex-direction: column;
row-gap: 10px;
color: #676767ff;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
border-width: 3px;
border-style: solid;
border-color: #cececeff;
border-radius: 20px;
max-width: ;
max-height: auto;
min-height: auto;
align-items: center;
}
.p-Home.Flex34 {
display: flex;
padding-top: 40px;
padding-right: 15px;
padding-bottom: 40px;
padding-left: 15px;
flex-direction: column;
row-gap: 10px;
color: #676767ff;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
border-width: 3px;
border-style: solid;
border-color: #cececeff;
border-radius: 20px;
max-width: ;
max-height: auto;
min-height: auto;
align-items: center;
}
.p-Home.Flex23 {
display: flex;
padding-left: 25px;
padding-right: 25px;
column-gap: 25px;
}
.p-Home.Flex49 {
display: flex;
max-width: ;
width: 100%;
padding-top: 10px;
padding-right: ;
padding-bottom: 10px;
padding-left: ;
flex-direction: column;
align-items: center;
column-gap: ;
row-gap: ;
}
.p-Home.Flex91 {
display: flex;
align-items: center;
justify-content: space-around;
width: 100%;
padding-top: 20px;
padding-bottom: 20px;
padding-left: ;
padding-right: ;
column-gap: ;
}
.p-Home.Flex70 {
display: flex;
row-gap: 20px;
padding-top: 0px;
padding-right: 20px;
padding-bottom: 0px;
padding-left: 20px;
flex-direction: column;
max-width: 20vw;
}
.p-Home.Div13 {
;
}
.p-Home.Flex71 {
display: flex;
row-gap: 20px;
padding-top: 0px;
padding-right: 20px;
padding-bottom: 0px;
padding-left: 20px;
flex-direction: column;
max-width: 20vw;
}
.p-Home.Div14 {
;
}
.p-Home.Flex68 {
display: flex;
row-gap: 20px;
padding-top: 0px;
padding-right: 20px;
padding-bottom: 0px;
padding-left: 20px;
flex-direction: column;
max-width: 20vw;
}
.p-Home.Div11 {
;
}
.p-Home.Flex54 {
display: flex;
row-gap: 20px;
padding-top: 0px;
padding-right: 20px;
padding-bottom: 0px;
padding-left: 20px;
flex-direction: column;
max-width: 20vw;
}
.p-Home.Div10 {
;
}
.p-Home.Flex81 {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-around;
column-gap: ;
padding-top: 10px;
padding-right: ;
padding-bottom: 10px;
padding-left: ;
outline-style: ;
}
.p-Home.Flex77 {
display: flex;
row-gap: 20px;
padding-top: 0px;
padding-right: 20px;
padding-bottom: 0px;
padding-left: 20px;
flex-direction: column;
max-width: 20vw;
}
.p-Home.Div19 {
;
}
.p-Home.Flex78 {
display: flex;
row-gap: 20px;
padding-top: 0px;
padding-right: 20px;
padding-bottom: 0px;
padding-left: 20px;
flex-direction: column;
max-width: 20vw;
}
.p-Home.Div20 {
;
}
.p-Home.Flex79 {
display: flex;
row-gap: 20px;
padding-top: 0px;
padding-right: 20px;
padding-bottom: 0px;
padding-left: 20px;
flex-direction: column;
max-width: 20vw;
}
.p-Home.Div21 {
;
}
.p-Home.Flex80 {
display: flex;
row-gap: 20px;
padding-top: 0px;
padding-right: 20px;
padding-bottom: 0px;
padding-left: 20px;
flex-direction: column;
max-width: 20vw;
align-items: stretch;
outline-style: ;
}
.p-Home.Div22 {
;
}
.p-Home.Flex82 {
display: flex;
padding-left: 25px;
padding-right: 25px;
column-gap: 25px;
padding-top: 25px;
padding-bottom: 50px;
}
.p-Home.Div57 {
max-width: %;
width: 100%;
background-color: #FFF9F3ff;
}
.p-Home.Flex35 {
display: flex;
min-width: 90vw;
max-width: 100vw;
padding-top: 150px;
padding-bottom: 150px;
background-color: #FFF9F3ff;
flex-direction: row;
align-items: center;
justify-content: space-around;
width: ;
outline-style: ;
height: vw;
}
.p-Home.Flex48 {
display: flex;
position: relative;
width: 100px;
}
.p-Home.Flex36 {
display: flex;
z-index: 1;
float: none;
text-align: center;
font-family: DM Sans;
padding-top: 50px;
padding-right: 20px;
padding-bottom: 50px;
padding-left: 50px;
font-weight: 500;
background-color: #ffffffff;
position: relative;
top: 300px;
border-radius: 30px;
flex-direction: column;
width: 350px;
row-gap: 20px;
height: 250px;
clear: none;
background-clip: border-box;
-webkit-background-clip: border-box;
background-position-x: ;
right: 450px;
}
.p-Home.Flex38 {
display: flex;
flex-direction: column;
align-items: flex-start;
border-width: 2px;
border-color: #000000ff;
position: relative;
}
.p-Home.Flex41 {
display: flex;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
z-index: 3;
column-gap: 20px;
width: 350px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
flex-direction: row;
}
.p-Home.Flex42 {
display: flex;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
z-index: 3;
column-gap: 20px;
width: 350px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Flex43 {
display: flex;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
z-index: 3;
column-gap: 20px;
width: 350px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Flex46 {
display: flex;
padding-top: 25px;
padding-right: 0px;
padding-bottom: 25px;
padding-left: ;
flex-direction: column;
width: 40vw;
min-width: 0px;
position: relative;
right: 0;
column-gap: ;
row-gap: 50px;
left: 100px;
}
.p-Home.Flex47 {
display: flex;
padding-left: 25px;
padding-right: 25px;
column-gap: 25px;
}
.p-Home.Flex90 {
display: flex;
align-items: center;
justify-content: space-around;
padding-left: 0px;
padding-right: 0px;
background-color: #FF7629ff;
}
.p-Home.Flex92 {
display: flex;
height: auto;
width: 80%;
flex-direction: column;
align-items: center;
justify-content: space-around;
box-sizing: content-box;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
row-gap: 33px;
}
.p-Home.Flex93 {
display: flex;
padding-left: 25px;
padding-right: 25px;
column-gap: 25px;
}
.p-Home.Flex94 {
display: flex;
flex-direction: column;
row-gap: 20px;
align-items: center;
padding-left: 0px;
padding-top: 150px;
padding-right: 0px;
padding-bottom: 150px;
outline-style: ;
outline-color: #000000ff;
outline-width: ;
justify-content: space-around;
}
.p-Home.Flex95 {
display: flex;
width: ;
justify-content: space-around;
padding-left: 0px;
padding-right: ;
align-items: center;
}
.p-Home.Div28 {
width: 50px;
height: 50px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
border-radius: 50px;
background-color: #FF7629ff;
}
.p-Home.Div29 {
width: 50px;
height: 50px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
border-radius: 50px;
background-color: #FF7629ff;
}
.p-Home.Flex97 {
display: flex;
padding-top: 50px;
padding-right: 50px;
padding-bottom: 40px;
padding-left: 50px;
flex-direction: column;
row-gap: 10px;
color: #676767ff;
font-family: DM Sans;
font-weight: 500;
font-size: 17px;
border-width: 3px;
border-style: solid;
border-color: #cececeff;
border-radius: 20px;
max-width: ;
max-height: auto;
min-height: auto;
align-items: flex-start;
width: 50%;
}
.p-Home.Flex98 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 0px;
}
.p-Home.Flex99 {
display: flex;
width: 66%;
justify-content: flex-start;
padding-top: 10px;
align-items: center;
column-gap: 25px;
}
.p-Home.Flex100 {
display: flex;
flex-direction: column;
align-items: flex-start;
row-gap: 2px;
width: 85%;
height: 50px;
}
.p-Home.Flex101 {
display: flex;
padding-left: 25px;
padding-right: 25px;
column-gap: 25px;
padding-top: 50px;
}
.p-Home.Flex102 {
display: flex;
width: ;
padding-top: 10px;
padding-right: 50px;
padding-bottom: 10px;
padding-left: 50px;
background-color: #FFF9F3ff;
border-style: none;
justify-content: center;
max-width: 100%;
flex-direction: column;
align-items: center;
row-gap: 20px;
max-height: auto;
box-sizing: initial;
margin-bottom: 0px;
outline-style: ;
}
.p-Home.Flex105 {
display: flex;
max-width: ;
align-items: center;
justify-content: space-between;
width: 80%;
}
.p-Home.Flex106 {
display: flex;
width: 98%;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
.p-Home.Flex107 {
display: flex;
width: 40%;
padding-right: ;
margin-right: 20px;
border-radius: 35px;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
row-gap: 25px;
background-color: #ffffffff;
justify-content: flex-start;
margin-top: 30px;
margin-bottom: 30px;
}
.p-Home.Flex109 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 20px;
flex-direction: column;
row-gap: 5px;
}
.p-Home.Flex108 {
display: flex;
width: 60%;
flex-direction: row;
}
.p-Home.Flex121 {
display: flex;
align-items: baseline;
justify-content: space-around;
flex-direction: column;
}
.p-Home.Flex127 {
display: flex;
align-items: flex-start;
justify-content: space-around;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Home.Flex125 {
display: flex;
width: 40%;
padding-right: ;
margin-right: 10px;
border-radius: 35px;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
row-gap: 2px;
background-color: #ffffffff;
height: ;
padding-left: ;
margin-left: 5px;
max-height: ;
}
.p-Home.Flex123 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 20px;
padding-left: 20px;
flex-direction: column;
row-gap: 5px;
}
.p-Home.Flex126 {
display: flex;
width: 40%;
padding-right: ;
margin-right: 10px;
border-radius: 35px;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
row-gap: 2px;
background-color: #ffffffff;
height: ;
padding-left: ;
margin-left: 5px;
max-height: ;
}
.p-Home.Flex124 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 20px;
padding-left: 20px;
flex-direction: column;
row-gap: 5px;
}
.p-Home.Flex132 {
display: flex;
align-items: flex-start;
justify-content: space-around;
padding-top: 10px;
padding-bottom: 0px;
}
.p-Home.Flex130 {
display: flex;
width: 40%;
padding-right: ;
margin-right: 10px;
border-radius: 35px;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
row-gap: 2px;
background-color: #ffffffff;
height: ;
padding-left: ;
margin-left: 5px;
max-height: ;
}
.p-Home.Flex128 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 20px;
padding-left: 20px;
flex-direction: column;
row-gap: 5px;
}
.p-Home.Flex131 {
display: flex;
width: 40%;
padding-right: ;
margin-right: 10px;
border-radius: 35px;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
row-gap: 2px;
background-color: #ffffffff;
height: ;
padding-left: ;
margin-left: 5px;
max-height: ;
}
.p-Home.Flex129 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 20px;
padding-left: 20px;
flex-direction: column;
row-gap: 5px;
}
.p-Home.Div52 {
;
}
.p-Home.Flex221 {
display: flex;
height: ;
}
.p-Home.Flex220 {
display: flex;
width: 70%;
}
.p-Home.Info_Container {
display: flex;
width: ;
align-items: flex-start;
justify-content: center;
flex-direction: column;
padding-left: 50px;
}
.p-Home.Book_Container {
display: flex;
align-self: auto;
flex-direction: column;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
width: 66%;
row-gap: 20px;
}
.p-Home.Flex256 {
display: flex;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
z-index: 3;
column-gap: 20px;
width: 350px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Flex257 {
display: flex;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
z-index: 3;
column-gap: 20px;
width: 350px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Flex258 {
display: flex;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
z-index: 3;
column-gap: 20px;
width: 350px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
flex-direction: row;
}
.p-Home.Div53 {
background-color: #FF7629ff;
width: 50%;
height: 120vh;
}
.p-Home.FormContainer {
display: flex;
position: relative;
top: 100px;
right: 50px;
flex-direction: column;
padding-top: 25px;
padding-right: 25px;
padding-bottom: 25px;
padding-left: 25px;
background-color: #ffffffff;
border-radius: 10px;
border-width: 2px;
border-style: solid;
border-color: #d9d4d4ff;
row-gap: 20px;
max-width: 50vw;
}
.p-Home.form_row {
display: flex;
justify-content: space-around;
column-gap: 20px;
width: 100%;
}
.p-Home.Form_Row_Item_2 {
display: flex;
flex-direction: column;
z-index: 5;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
row-gap: 5px;
}
.p-Home.Form_Row_Item_1 {
display: flex;
flex-direction: column;
z-index: 5;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
row-gap: 5px;
}
.p-Home.Flex229 {
display: flex;
justify-content: space-around;
column-gap: 20px;
width: 100%;
}
.p-Home.Flex227 {
display: flex;
flex-direction: column;
z-index: 5;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
row-gap: 5px;
}
.p-Home.Flex228 {
display: flex;
flex-direction: column;
z-index: 5;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
row-gap: 5px;
}
.p-Home.Flex235 {
display: flex;
justify-content: space-around;
column-gap: 20px;
width: 100%;
}
.p-Home.Flex233 {
display: flex;
flex-direction: column;
z-index: 5;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
row-gap: 5px;
}
.p-Home.Flex234 {
display: flex;
flex-direction: column;
z-index: 5;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
row-gap: 5px;
}
.p-Home.Flex236 {
display: flex;
flex-direction: column;
z-index: 5;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
row-gap: 5px;
}
.p-Home.Colored_Div {
display: flex;
background-color: #FFF9F3ff;
width: 100%;
flex-direction: column;
align-items: center;
padding-top: 50px;
padding-bottom: 50px;
}
.p-Home.Flex263 {
display: flex;
max-width: ;
align-items: center;
justify-content: space-between;
width: 80%;
}
.p-Home.Flex264 {
display: flex;
padding-top: 25px;
padding-right: 25px;
padding-bottom: 25px;
padding-left: 25px;
align-items: center;
justify-content: space-around;
column-gap: 30px;
}
.p-Home.Flex266 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
row-gap: 20px;
}
.p-Home.IG_Row {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
justify-content: space-between;
column-gap: 20px;
}
.p-Home.Flex269 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
justify-content: space-between;
column-gap: 20px;
}
.p-Home.Flex270 {
display: flex;
width: 100%;
justify-content: space-around;
margin-left: ;
padding-right: ;
margin-right: ;
}
.p-Home.Flex272 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
flex-direction: column;
align-items: flex-start;
width: 33%;
row-gap: 10px;
}
.p-Home.Flex273 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 0px;
}
.p-Home.Flex274 {
display: flex;
align-items: center;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
.p-Home.Div55 {
;
}
.p-Home.Flex288 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
row-gap: 25px;
}
.p-Home.Flex287 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: ;
row-gap: 10px;
}
.p-Home.Div56 {
;
}
.p-Home.Flex284 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
row-gap: 25px;
}
.p-Home.Flex283 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: ;
row-gap: 10px;
}
.p-Home.Flex289 {
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: flex-start;
}
.p-Home.Flex292 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding-top: 10px;
padding-right: 0px;
padding-bottom: 10px;
padding-left: 0px;
row-gap: 5px;
}
.p-Home.Flex290 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
justify-content: space-between;
column-gap: 5px;
}
.p-Home.Flex291 {
display: flex;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
justify-content: space-between;
column-gap: 5px;
}
.p-Home.Image4 {
;
}
.p-Home.Link1 {
border-color: #696969ff;
}
.p-Home.Link2 {
;
}
.p-Home.Link3 {
;
}
.p-Home.Link4 {
;
}
.p-Home.Link5 {
;
}
.p-Home.Order_Online {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
height: 40px;
font-family: DM Sans;
word-wrap: normal;
}
.p-Home.Button2 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Div2 {
width: 70%;
height: 100%;
align-self: auto;
text-align: center;
display: contents;
}
.p-Home.TextBox2 {
font-size: 50px;
font-family: DM Sans;
font-weight: 700;
text-align: center;
color: #FF7629ff;
}
.p-Home.TextBox1 {
font-family: DM Sans;
font-weight: 700;
font-size: 50px;
text-align: center;
}
.p-Home.TextBox3 {
height: ;
width: 100%;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
text-align: center;
color: #757575ff;
}
.p-Home.Button21 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button22 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
height: ;
font-family: DM Sans;
word-wrap: normal;
}
.p-Home.Image5 {
align-self: center;
width: ;
max-width: 80%;
max-height: 80%;
padding-right: ;
margin-right: 0px;
position: relative;
right: 100px;
z-index: 1;
border-radius: 15px;
height: ;
}
.p-Home.TextBox4 {
font-family: DM Sans;
font-weight: 700;
font-size: 21px;
text-align: center;
}
.p-Home.Image6 {
;
}
.p-Home.Image7 {
;
}
.p-Home.Image8 {
;
}
.p-Home.Image9 {
;
}
.p-Home.TextBox5 {
font-family: DM Sans;
font-weight: 700;
font-size: 25px;
text-align: center;
}
.p-Home.Image10 {
max-width: 66%;
max-height: 66%;
}
.p-Home.TextBox6 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
color: #000000ff;
}
.p-Home.TextBox7 {
;
}
.p-Home.Link6 {
font-family: DM Sans;
font-weight: 500;
color: #FF7629ff;
padding-top: 5px;
}
.p-Home.Link7 {
font-family: DM Sans;
font-weight: 500;
color: #FF7629ff;
padding-top: 5px;
}
.p-Home.TextBox8 {
;
}
.p-Home.TextBox9 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
color: #000000ff;
}
.p-Home.Image12 {
max-width: 66%;
max-height: 66%;
}
.p-Home.Link8 {
font-family: DM Sans;
font-weight: 500;
color: #FF7629ff;
padding-top: 5px;
}
.p-Home.TextBox10 {
;
}
.p-Home.TextBox11 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
color: #000000ff;
}
.p-Home.Image13 {
max-width: 66%;
max-height: 66%;
}
.p-Home.Link10 {
font-family: DM Sans;
font-weight: 500;
color: #FF7629ff;
padding-top: 5px;
}
.p-Home.TextBox14 {
;
}
.p-Home.TextBox15 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
color: #000000ff;
}
.p-Home.Image15 {
max-width: 66%;
max-height: 66%;
}
.p-Home.Button7 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
height: ;
font-family: DM Sans;
word-wrap: normal;
}
.p-Home.Button8 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.TextBox26 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
text-align: center;
}
.p-Home.TextBox27 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
width: 66%;
}
.p-Home.Image32 {
border-radius: 30px;
}
.p-Home.TextBox54 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
}
.p-Home.TextBox55 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
}
.p-Home.TextBox53 {
position: relative;
top: 60px;
left: 120px;
font-family: DM Sans;
font-weight: 700;
text-align: center;
min-width: auto;
min-height: auto;
box-sizing: content-box;
align-self: stretch;
width: 100px;
height: 25px;
border-radius: 10px;
color: #000000ff;
background-color: #ffffffff;
z-index: 1;
padding-top: 2px;
padding-bottom: 2px;
}
.p-Home.Image33 {
border-radius: 30px;
}
.p-Home.TextBox57 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
}
.p-Home.TextBox58 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
}
.p-Home.TextBox56 {
position: relative;
top: 60px;
left: 120px;
font-family: DM Sans;
font-weight: 700;
text-align: center;
min-width: auto;
min-height: auto;
box-sizing: content-box;
align-self: stretch;
width: 100px;
height: 25px;
border-radius: 10px;
color: #000000ff;
background-color: #ffffffff;
z-index: 1;
padding-top: 2px;
padding-bottom: 2px;
}
.p-Home.Image30 {
border-radius: 30px;
}
.p-Home.TextBox48 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
}
.p-Home.TextBox49 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
}
.p-Home.TextBox47 {
position: relative;
top: 60px;
left: 120px;
font-family: DM Sans;
font-weight: 700;
text-align: center;
min-width: auto;
min-height: auto;
box-sizing: content-box;
align-self: stretch;
width: 100px;
height: 25px;
border-radius: 10px;
color: #000000ff;
background-color: #ffffffff;
z-index: 1;
padding-top: 2px;
padding-bottom: 2px;
}
.p-Home.TextBox30 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
}
.p-Home.TextBox31 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
}
.p-Home.Image22 {
border-radius: 30px;
}
.p-Home.TextBox46 {
position: relative;
top: 60px;
left: 120px;
font-family: DM Sans;
font-weight: 700;
text-align: center;
min-width: auto;
min-height: auto;
box-sizing: content-box;
align-self: stretch;
width: 100px;
height: 25px;
border-radius: 10px;
color: #000000ff;
background-color: #ffffffff;
z-index: 1;
padding-top: 2px;
padding-bottom: 2px;
}
.p-Home.TextBox75 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
}
.p-Home.TextBox76 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
}
.p-Home.Image38 {
border-radius: 30px;
}
.p-Home.TextBox71 {
position: relative;
top: 60px;
left: 120px;
font-family: DM Sans;
font-weight: 700;
text-align: center;
min-width: auto;
min-height: auto;
box-sizing: content-box;
align-self: stretch;
width: 100px;
height: 25px;
border-radius: 10px;
color: #000000ff;
background-color: #ffffffff;
z-index: 1;
padding-top: 2px;
padding-bottom: 2px;
}
.p-Home.TextBox77 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
}
.p-Home.TextBox78 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
}
.p-Home.Image39 {
border-radius: 30px;
}
.p-Home.TextBox72 {
position: relative;
top: 60px;
left: 120px;
font-family: DM Sans;
font-weight: 700;
text-align: center;
min-width: auto;
min-height: auto;
box-sizing: content-box;
align-self: stretch;
width: 100px;
height: 25px;
border-radius: 10px;
color: #000000ff;
background-color: #ffffffff;
z-index: 1;
padding-top: 2px;
padding-bottom: 2px;
}
.p-Home.TextBox79 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
}
.p-Home.TextBox80 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
}
.p-Home.Image40 {
border-radius: 30px;
}
.p-Home.TextBox73 {
position: relative;
top: 60px;
left: 120px;
font-family: DM Sans;
font-weight: 700;
text-align: center;
min-width: auto;
min-height: auto;
box-sizing: content-box;
align-self: stretch;
width: 100px;
height: 25px;
border-radius: 10px;
color: #000000ff;
background-color: #ffffffff;
z-index: 1;
padding-top: 2px;
padding-bottom: 2px;
}
.p-Home.Image41 {
border-radius: 30px;
}
.p-Home.TextBox81 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
}
.p-Home.TextBox82 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
text-align: center;
}
.p-Home.TextBox74 {
position: relative;
top: 60px;
left: 120px;
font-family: DM Sans;
font-weight: 700;
text-align: center;
min-width: auto;
min-height: auto;
box-sizing: content-box;
align-self: stretch;
width: 100px;
height: 25px;
border-radius: 10px;
color: #000000ff;
background-color: #ffffffff;
z-index: 1;
padding-top: 2px;
padding-bottom: 2px;
}
.p-Home.Button13 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button14 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
height: ;
font-family: DM Sans;
word-wrap: normal;
}
.p-Home.Image16 {
align-self: auto;
width: 50vw;
max-width: 460px;
max-height: auto;
padding-right: ;
margin-right: 0px;
position: relative;
right: 100px;
top: 0;
border-radius: 30px;
height: ;
min-height: ;
}
.p-Home.TextBox16 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
text-align: center;
}
.p-Home.Image17 {
;
}
.p-Home.TextBox17 {
text-align: left;
color: #8d8d8dff;
font-family: DM Sans;
}
.p-Home.TextBox18 {
text-align: left;
color: #8d8d8dff;
}
.p-Home.Image20 {
;
}
.p-Home.TextBox19 {
text-align: left;
color: #8d8d8dff;
}
.p-Home.Image21 {
;
}
.p-Home.TextBox22 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
text-align: left;
}
.p-Home.TextBox24 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
}
.p-Home.TextBox25 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
}
.p-Home.Button11 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button12 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
height: ;
font-family: DM Sans;
word-wrap: normal;
}
.p-Home.Image46 {
max-width: 50%;
}
.p-Home.TextBox97 {
font-family: DM Sans;
font-weight: 700;
font-size: 38px;
text-align: center;
width: 75%;
color: #ffffffff;
}
.p-Home.TextBox98 {
font-family: DM Sans;
font-weight: 500;
color: #ffffffff;
width: 75%;
}
.p-Home.Button15 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffffff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button16 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
height: ;
font-family: DM Sans;
word-wrap: normal;
}
.p-Home.TextBox100 {
;
}
.p-Home.TextBox101 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
text-align: center;
}
.p-Home.TextBox102 {
width: 50%;
color: #727272ff;
font-family: DM Sans;
font-weight: 500;
text-align: center;
}
.p-Home.Image48 {
;
}
.p-Home.Image49 {
;
}
.p-Home.TextBox104 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
text-align: center;
color: #000000ff;
}
.p-Home.TextBox105 {
font-family: DM Sans;
font-weight: 500;
font-size: 14px;
color: #716f6fff;
}
.p-Home.Image51 {
width: 30px;
height: 30px;
}
.p-Home.Image53 {
width: 30px;
height: 30px;
}
.p-Home.Image54 {
width: 30px;
height: 30px;
}
.p-Home.Image55 {
width: 30px;
height: 30px;
}
.p-Home.Image56 {
width: 30px;
height: 30px;
}
.p-Home.Image57 {
width: 50px;
height: 50px;
border-radius: 50%;
}
.p-Home.TextBox106 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #000000ff;
}
.p-Home.TextBox107 {
;
}
.p-Home.Button17 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Home.Button18 {
color: #000000ff;
background-color: #ffffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ccccccff;
cursor: pointer;
user-select: none;
height: ;
font-family: DM Sans;
word-wrap: normal;
}
.p-Home.TextBox108 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
text-align: center;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.TextBox109 {
position: static;
top: 60px;
left: 120px;
font-family: DM Sans;
font-weight: 500;
text-align: center;
min-width: auto;
min-height: auto;
box-sizing: content-box;
align-self: center;
width: ;
height: ;
border-radius: 35px;
color: #000000ff;
background-color: #ffffffff;
z-index: 1;
padding-top: 20px;
padding-bottom: 20px;
background-attachment: local;
padding-right: 20px;
padding-left: 20px;
font-size: ;
}
.p-Home.Image58 {
width: 100%;
border-radius: 35px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.p-Home.TextBox112 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373ff;
}
.p-Home.TextBox113 {
font-family: DM Sans;
font-weight: 700;
font-size: 26px;
text-align: left;
}
.p-Home.TextBox126 {
font-family: DM Sans;
font-weight: 500;
color: #8d8d8dff;
}
.p-Home.Image66 {
width: 100%;
border-radius: 35px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.p-Home.TextBox134 {
font-family: DM Sans;
font-weight: 700;
font-size: ;
text-align: left;
}
.p-Home.TextBox135 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373ff;
}
.p-Home.Image67 {
width: 100%;
border-radius: 35px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.p-Home.TextBox136 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373ff;
}
.p-Home.TextBox137 {
font-family: DM Sans;
font-weight: 700;
font-size: ;
text-align: left;
}
.p-Home.Image68 {
width: 100%;
border-radius: 35px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.p-Home.TextBox138 {
font-family: DM Sans;
font-weight: 700;
font-size: ;
text-align: left;
}
.p-Home.TextBox139 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373ff;
}
.p-Home.Image69 {
width: 100%;
border-radius: 35px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.p-Home.TextBox140 {
font-family: DM Sans;
font-weight: 500;
font-size: 15px;
color: #737373ff;
}
.p-Home.TextBox141 {
font-family: DM Sans;
font-weight: 700;
font-size: ;
text-align: left;
}
.p-Home.Div54 {
width: 70%;
height: 100%;
align-self: auto;
text-align: center;
display: contents;
}
.p-Home.Heading {
font-size: 34px;
font-family: DM Sans;
font-weight: 700;
}
.p-Home.TextBox193 {
color: #727171ff;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image94 {
;
}
.p-Home.TextBox206 {
text-align: left;
color: #8d8d8dff;
}
.p-Home.Image95 {
;
}
.p-Home.TextBox207 {
text-align: left;
color: #8d8d8dff;
}
.p-Home.TextBox208 {
text-align: left;
color: #8d8d8dff;
font-family: DM Sans;
}
.p-Home.Image96 {
;
}
.p-Home.Button32 {
color: #ffffffff;
background-color: #FF7629ff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 16px;
border-radius: 50px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
font-family: DM Sans;
width: 35%;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 11px;
padding-bottom: 8px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox183 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.TextBox182 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 11px;
padding-bottom: 8px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 11px;
padding-bottom: 8px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox184 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.TextBox185 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 11px;
padding-bottom: 8px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.Input9 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 11px;
padding-bottom: 8px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox188 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.TextBox189 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input10 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 11px;
padding-bottom: 8px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
}
.p-Home.TextBox190 {
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Home.Input11 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 8px;
padding-left: 11px;
padding-bottom: 8px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 20px;
text-align: center;
align-self: center;
width: 90%;
height: 20vh;
}
.p-Home.TextBox210 {
position: static;
top: 60px;
left: 120px;
font-family: DM Sans;
font-weight: 500;
text-align: center;
min-width: auto;
min-height: auto;
box-sizing: content-box;
align-self: center;
width: ;
height: ;
border-radius: 35px;
color: #ffffffff;
background-color: #FF7629ff;
z-index: 1;
padding-top: 15px;
padding-bottom: 15px;
background-attachment: local;
padding-right: 25px;
padding-left: 25px;
font-size: ;
}
.p-Home.TextBox211 {
font-family: DM Sans;
font-weight: 700;
font-size: 32px;
text-align: center;
padding-left: 10px;
padding-right: 10px;
}
.p-Home.Image97 {
max-width: ;
max-height: ;
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image98 {
max-width: ;
max-height: ;
width: 300px;
height: 300px;
border-radius: 35px;
}
.p-Home.Image99 {
max-width: ;
max-height: ;
width: 145px;
height: 145px;
border-radius: 35px;
}
.p-Home.Image100 {
max-width: ;
max-height: ;
width: 145px;
height: 145px;
border-radius: 35px;
}
.p-Home.Image101 {
max-width: ;
max-height: ;
width: 145px;
height: 145px;
border-radius: 35px;
}
.p-Home.Image102 {
max-width: ;
max-height: ;
width: 145px;
height: 145px;
border-radius: 35px;
}
.p-Home.Image103 {
;
}
.p-Home.TextBox214 {
color: #727171ff;
font-family: DM Sans;
font-weight: 500;
}
.p-Home.Image104 {
width: 30px;
height: 30px;
}
.p-Home.Image105 {
width: 30px;
height: 30px;
}
.p-Home.Image106 {
width: 30px;
height: 30px;
}
.p-Home.Image107 {
width: 30px;
height: 30px;
}
.p-Home.Image108 {
width: 30px;
height: 30px;
}
.p-Home.TextBox219 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Link38 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Link39 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Link40 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Link41 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Link42 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Link43 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Link44 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.TextBox217 {
font-family: DM Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Link26 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Link27 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Link28 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Link29 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Link30 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Link31 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.Link36 {
font-family: DM Sans;
font-weight: 500;
color: #7f7c7cff;
}
.p-Home.TextBox220 {
font-family: DM Sans;
font-weight: 500;
font-size: 20px;
}
.p-Home.Image109 {
max-width: ;
max-height: ;
width: 145px;
height: 145px;
border-radius: 35px;
}
.p-Home.Image110 {
max-width: ;
max-height: ;
width: 145px;
height: 145px;
border-radius: 35px;
}
.p-Home.Image111 {
max-width: ;
max-height: ;
width: 145px;
height: 145px;
border-radius: 35px;
}
.p-Home.Image112 {
max-width: ;
max-height: ;
width: 145px;
height: 145px;
border-radius: 35px;
}
@media screen and (max-width: 991px) {
	.p-Home.Flex21.bpt {
max-width: 10%;
	}
	.p-Home.Flex27.bpt {
max-width: 20%;
	}
	.p-Home.Flex31.bpt {
max-width: 20%;
	}
	.p-Home.Flex32.bpt {
max-width: 20%;
	}
	.p-Home.Flex34.bpt {
max-width: 20%;
	}
	.p-Home.Flex97.bpt {
max-width: 20%;
	}
}